/* ESTILIZAÇÃO POR TAG */

ul{
    background-color: red;
    list-style: none;
    
}

li{
    color: white;
    font-size: 30px;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* ESTILIZAÇÃO POR ID */
/* SEMPRE COLOCOCAR # PARA ID */
#caixa-rosa{
    background-color: pink;
}

#caixa-roxa{
    background-color: purple;
}

/* ESTILIZAÇÃO POR CLASS */
.caixinha{
    background-color: white;
    color: black;
    margin: 20px;
    width: 200px;
    height: 75px;
    display: inline-block;
}

